name: Documentation

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - "**"

jobs:
  docs:
    name: Documentation Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          pip install -r docs/requirements.txt
          pip install .

      - name: Build documentation
        run: make docs
